<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mygdx.game"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- Remove debuggable attribute for publish -->
    <!-- permissions for Facebook access -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- permissions for Gdx vibrate call -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_viking"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- Facebaook content provider for content sharing -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider102176096926847"
            android:exported="true"/>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NewAccountActivity">
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- game play fixed to landscape mode -->
        <activity
            android:name=".EngineLauncherActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>

        <!-- Facebook login intent filter -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelDialogActivity"
            android:label="Instructions">
        </activity>
        <!-- Database manager -->
        <activity
            android:name=".AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light"/>
        <!-- Accelerometer -->
        <activity
            android:name=".AccelerometerActivity"
            android:label="Accelerometer">
        </activity>
    </application>

</manifest>